[package]
name = "raft-engine"
version = "0.1.0"
authors = ["zhangjinpeng1987 <zhangjinpeng@pingcap.com>"]
edition = "2018"

[dependencies]
protobuf = "=2.8.0"
serde = { version = "1.0", features = ["derive"] }
crc32fast = "1.2"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
lz4-sys = "1.9.2"
byteorder = "1.2"
lazy_static = "1.3"
fxhash = "0.2"
nix = "0.18.0"
crossbeam = "0.7"
thiserror = "1.0"

[dev-dependencies]
raft = { git = "https://github.com/tikv/raft-rs", branch = "master", default-features = false, features = ["protobuf-codec"] }
tempfile = "3.1"
toml = "0.5"
env_logger = "0.7"
rand = "0.7"
rand_distr = "0.3"

[[example]]
name = "append-compact-purge"
path = "examples/append_compact_purge.rs"
