[package]
name = "raft-engine"
version = "0.1.0"
authors = ["The TiKV Authors"]
edition = "2018"

[[example]]
name = "append-compact-purge"
path = "examples/append_compact_purge.rs"

[dependencies]
byteorder = "1.2"
crc32fast = "1.2"
crossbeam = "0.8"
fxhash = "0.2"
hex = "0.4"
lazy_static = "1.3"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
lz4-sys = "1.9.2"
nix = "0.18.0"
prometheus = { version = "0.12", features = ["nightly"] }
prometheus-static-metric = "0.5"
protobuf = "=2.8.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
ctor = "0.1"
env_logger = "0.7"
raft = { git = "https://github.com/tikv/raft-rs", branch = "master", default-features = false, features = ["protobuf-codec"] }
rand = "0.7"
rand_distr = "0.3"
tempfile = "3.1"
toml = "0.5"

[patch.crates-io]
protobuf = { git = "https://github.com/pingcap/rust-protobuf", rev = "82b49fea7e696fd647b5aca0a6c6ec944eab3189" }

[workspace]
members = [ "stress" ]
