[package]
name = "raft-engine"
version = "0.1.0"
authors = ["zhangjinpeng1987 <zhangjinpeng@pingcap.com>"]
edition = "2018"

[features]

[dependencies]
protobuf = "=2.8.0"
quick-error = "1.2.2"
serde = "1.0"
serde_derive = "1.0"
crc32fast = "1.2"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
lz4-sys = "1.9.2"
byteorder = "1.2"
errno = "0.2.4"
libc = "0.2"
tempfile = "3.0"
lazy_static = "1.3"
fxhash = "0.2"
toml = "0.4"
nix = "0.18.0"
crossbeam = "0"

[dependencies.prometheus]
version = "0.8"
default-features = false
features = ["nightly"]

[dev-dependencies.raft]
git = "https://github.com/pingcap/raft-rs"
branch = "master"
default-features = false
features = ["protobuf-codec"]
