[package]
name = "raft-engine-ctl"
version = "0.2.0"
authors = ["The TiKV Project Developers"]
edition = "2018"
rust-version = "1.56"
description = "A control tool for Raft Engine"
repository = "https://github.com/tikv/raft-engine"
license = "Apache-2.0"

[dependencies]
clap = { version = "3.0.0-rc.0", features = ["derive", "cargo"] }
raft-engine = { path = "..", version = "0.2.0", features = ["scripting", "internals"] }
