[package]
name = "raft_engine_ctl"
version = "0.1.0"
edition = "2018"
authors = ["The TiKV Authors"]

[dependencies]
clap = { version = "3.0.0-rc.0", features = ["derive", "cargo"] }
raft-engine = { path = "..", features = ["scripting", "internals"] }
