name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2020-07-01
          override: true
          components: clippy
      - name: Clippy
        run: cargo clippy --all
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: RUST_BACKTRACE=1 cargo test --all --verbose
