name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  nightly:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-01-07
          override: true
          components: rustfmt, clippy, rust-src
      - uses: Swatinem/rust-cache@v1
        with:
          sharedKey: ${{ matrix.os }}
      - name: Cache dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: if [[ ! -e ~/.cargo/bin/grcov ]]; then cargo install grcov; fi
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all --all-features --all-targets -- -D clippy::all
      - name: Run tests
        run: |
          cargo test --all --features all_except_failpoints --verbose -- --nocapture
          cargo test --test failpoints --all-features --verbose -- --test-threads 1 --nocapture
        env:
          RUST_BACKTRACE: 1
      - name: Run asan tests
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          cargo test -Zbuild-std --target x86_64-unknown-linux-gnu --all --features all_except_failpoints --verbose -- --nocapture
          cargo test -Zbuild-std --target x86_64-unknown-linux-gnu --test failpoints --all-features --verbose -- --test-threads 1 --nocapture
        env:
          RUST_BACKTRACE: 1
          RUSTFLAGS: '-Zsanitizer=address'
          RUSTDOCFLAGS: '-Zsanitizer=address'
  stable:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.56.0
          override: true
          components: rustfmt, clippy, rust-src
      - uses: Swatinem/rust-cache@v1
        with:
          sharedKey: ${{ matrix.os }}-stable
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all --features all_stable --all-targets -- -D clippy::all
      - name: Run tests
        run: |
          cargo test --all --features all_stable_except_failpoints --verbose -- --nocapture
          cargo test --test failpoints --features all_stable --verbose -- --test-threads 1 --nocapture
        env:
          RUST_BACKTRACE: 1
  coverage:
    runs-on: ubuntu-latest
    needs: nightly
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-01-07
          override: true
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@v1
        with:
          sharedKey: ubuntu-latest
      - name: Install grcov
        run: if [[ ! -e ~/.cargo/bin/grcov ]]; then cargo install --locked grcov; fi
      - name: Run tests
        run: |
          cargo test --all --features all_except_failpoints
          cargo test --test failpoints --all-features -- --test-threads 1
          cargo test --all --features all_stable_except_failpoints --verbose -- --nocapture
          cargo test --test failpoints --features all_stable --verbose -- --test-threads 1 --nocapture
        env:
          RUSTFLAGS: '-Zinstrument-coverage'
          LLVM_PROFILE_FILE: '%p-%m.profraw'
      - name: Run grcov
        run: grcov `find . \( -name "*.profraw" \) -print` --binary-path target/debug/deps/ -s . -t lcov --branch --ignore-not-existing --ignore '../**' --ignore '/*' -o coverage.lcov
      - name: Upload
        uses: codecov/codecov-action@v2
        with:
          file: coverage.lcov
